.header{
    height: 37vw;
    margin-bottom:0px;
    margin-top: 10px;
    background: url(/head.jpg) no-repeat;
    background-size: contain;
    position: relative;
    
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:30px;
    top :15%;
    right:43%;
    left:10%;
    animation: fadeIn 3s;
}
.header-contents h2{
    color: navy;
    
    font-weight: 600;
    font-size: 4.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-contents p{
    color: navy;
    
    font-weight: 600;
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}





@media (max-width: 1050px){
    
    .header-contents{
        max-width: 45%;
    }
   
}
@media (max-width: 750px){
   .header-contents{
    max-width: 65%;
   }
   .header-contents p{
    display: none;
   }
   
}
