.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    
}
.navbar.logo{
    width: 150px;
}
.navbarmenu{
    display: flex;
    list-style: none;
    gap: 20px;
    color:navy;
    font-size: 18px;
    cursor: pointer;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color:navy;
    border: 1px solid navy;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: rgb(201, 201, 246);
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid navy;
}
.searchicon{
    position: relative;
}
.searchicon .dot{
    position: absolute;
    min-width: 7px;
    min-height: 7px;
    background-color: gold;
    border-radius: 5px;
    top: -4px;
    right: -4px;
}
@media (max-width: 1050px){
    .navbar.logo{
        width: 100px;
    }
    .navbarmenu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 5px;
        font-size: 15px;
    }
}
@media (max-width: 750px){
    
    .navbarmenu{
        display: none;
    }
   
}